---
layout: page
title: "For Me"
description: "Hey, this is Longsen(Shine) Gao."
header-img: "img/Forme.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Never Settle<br>
    Never Down</p></blockquote>
    <p>Introduce myself.</p>
    <p>Hello, This is <strong>Longsen Gao</strong>, you can also call me <strong>Shine</strong>(I like the name not only it matches my personality but also the pronunciation of my first name may be difficult for some of my friends). Now I'm a second-year PhD student of Robotics and control system in United States.</p>



    

    <p></p>

    <h5>Hand-in Experience on Robots</h5>

    <table><tr>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/WAM.71335sjffps0.webp" 
            alt="WAM robot arm"
            width="300"
            height="300"
            title="WAM">
            <p align="center">WAM robot arm with BH-282 Hand(Real control through ROS1, simulation on MuJoco and Gazebo)</p></td>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/UR5e.4t9woz4xhoc0.webp"
            alt="UR5e robot with Dexterous Gripper"
            width="300"
            height="300"
            title="UR5e">
            <p align="center">UR5e with Dexterous Gripper(Real control through ROS1, simulation on MuJoco and Gazebo)</p></td>
        </tr></table>

    <table><tr>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/Baxter.1edmi2seao1s.webp"
            alt="Baxter Robotics"
            width="300"
            height="300"
            title="Baxter Robotics">
            <p align="center">Baxter Robot(Real control through ROS1, simulation on Gazebo)</p></td>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/franka.3qeftaiygc80.webp"
            alt="Franka Robot"
            width="300"
            height="300"
            title="Franka Robot">
            <p align="center">Franka Robot(Real control through ROS1, simulation on Gazebo)</p></td>
    </tr></table>

    <table><tr>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/autolabor.4c26bqaxfg40.webp"
        alt="Autolabor Mobile Robots"
        width="300"
        height="300"
        title="Autolabor Robot">
        <p align="center">Autolabor Robot(Real control)</p></td>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230425/zhangfei.59ftw8bqcw80.webp"
            alt="Zhangfei Drone"
            width="300"
            height="300"
            title="Zhangfei Drone">
            <p align="center">Zhangfei UAV(DIY design following courses including PCB board design, C code programming)</p></td>
    </tr></table>

        <img border=0 width=100% src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230427/UR5e_Dislodge.77lfk1n673g0.gif" alt="UR5e Disloding Task"> <br>
        <img border=0 width=100% src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230427/WAM7_Dislodge.3xo23c27vre0.gif" alt="WAM7 Disloding Task"><br>

    <p>When I was an undergraduate student, I foucus on robot system design and took part in many robotics competition in China. Here are some of pictures shown my past design and related work.</p>
    
    <table><tr>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230501/fish_comp (1).2bsybxynd074.gif" 
            alt="Bionic Robot Fish Competition"
            width="260"
            height="260"
            title="WAM">
            <p align="center"></p>Bionic Robot Fish Competition using STM32 embedded board and OpenMV board.</td>
        <td><img src="https://cdn.staticaly.com/gh/JackTony123/picx-images-hosting@master/20230501/bipedal.34fru80to980.gif"
            alt="Bipedal Robots"
            width="300"
            height="300"
            title="UR5e">
            <p align="center">DIY Bipedal Robots Competion using Computer Vision</p></td>
        </tr></table>
    <h5>Learn more about me</h5>

    <ul>
        <li><a href="https://github.com/gaolongsen">GitHub</a></li>
        <li><a href="https://www.youtube.com/channel/UClGfGOZuFI0itXSTFhFiGeA">YouTube</a></li>
        <li><a href="https://twitter.com/GaoLongsen">Twitter</a></li>
    </ul>
</div>
<p>If you have any questions, please feel free to leave messages below, I will contact you as soon as I can!.</p>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

